*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: #E06469;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;

}
.note{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 15px;
    margin-top: 50px;
}
.tool{
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: 5px;
    display: flex;
    justify-content: end;
}
.tool i
{
    padding: 5px;

}
.note textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 15px;
}
.note textarea:focus{
    border: 0;
    outline: 0;
}
#Addnote{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 15px;
    background-color: rgb(11, 11, 19);
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}
